<?xml version="1.0" encoding="UTF-8"?>
<!--MergeItemInfor Condition="/configuration/system.webServer/httpErrors" ParentNode="/configuration/system.webServer" OpeType="AddOrUpdate" -->
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom">
        	<remove statusCode="404" subStatusCode="-1" />
      		<error statusCode="404" path="./k3Cloud/Error.html" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
</configuration>